<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign in to <%= brand %></title>
    <link href="//assets.dynatrace.com/groundhog/v2.0.1/css/main.css" rel="stylesheet" type="text/css">  
    <link rel="stylesheet" href="<%= adminPath %>/styles/keystone.min.css">
    <link rel="stylesheet" href="<%= adminPath %>/styles/font.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="signin-view"></div>
    <script>
      var Keystone = <%- JSON.stringify(locals) %>;
    </script>
    <script src="<%= adminPath %>/js/packages.js"></script>
    <script src="<%= adminPath %>/js/signin.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
    <script>
      $('input[type=email]').attr('placeholder','Email');
      $('input[type=password]').attr('placeholder','Password');
    </script>
  </body>
</html>
